@import "tailwindcss";
@plugin "flowbite/plugin";

:root {
  --font-heading: "Oswald", sans-serif;
  --font-paragraph: "Quicksand", sans;
  --font-accent: "Roboto", monospace;
  --link-color: oklch(39.1% 0.09 240.876);
  --link-hover-color: oklch(74.6% 0.16 232.661);
  --button-color: oklch(39.1% 0.09 240.876);
  --button-hover-color: oklch(74.6% 0.16 232.661);
  --heading-color: oklch(39.1% 0.09 240.876);
  --paragraph-color: oklch(44.6% 0.043 257.281);

  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #f7f7f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.font-heading {
  font-family: var(--font-heading);
  font-weight: 800;
}

.font-paragraph {
  font-family: var(--font-paragraph);
  font-weight: 500;
}

.font-accent {
  font-family: var(--font-accent);
  font-weight: 800;
}

.twentytwenty-container img {
  object-fit: cover;
}

@layer utilities {
  .pre-slide-h2 {
    opacity: 0;
    transform: translateY(30px);
  }

  .animate-slide-in-h2 {
    opacity: 1 !important;
    transform: translateY(0) !important;
    transition: all 0.7s ease-out;
  }
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.25s;
}

a:hover {
  color: var(--link-hover-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--heading-color);
}

h2 {
  font-size: 2.4em;
  line-height: 1.2;
  color: var(--heading-color);
}

p {
  line-height: 1.6;
  color: var(--paragraph-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: var(--button-hover-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.main-content {
  padding-top: 5rem;
  /* Adjust this value based on your navbar height */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }

}